@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Poppins", sans-serif;
  }
  body {
    background:#f2f2f2;   }

    /* Custom styles for Toaster if needed */
.custom-toaster .react-hot-toast {
  @apply bg-transparent text-black; /* Example to ensure transparency */
  z-index: 9999;
}